body {
  background-color: #1f1f1f; /* Dark background for the entire page */
  font-family: Arial, sans-serif; /* Fallback font */
  color: #ccc; /* Light gray text */
}

.header {
  background-color: #333; /* Dark gray background for header */
}

.navbar-brand {
  padding: 10px; /* Adjust padding */
}

.section {
  display: grid;
  grid-template-columns: 25% 75%; /* Adjusted grid template */
  width: 100%;
  margin: auto;
}

.aside {
  background-color: #292929; /* Dark background for aside */
  padding: 20px;
}

.search-heading {
  color: #fff; /* White text */
  margin-bottom: 10px;
}

#weatherInput {
  width: calc(100% - 60px); /* Adjusted width */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #666; /* Medium gray border */
  border-radius: 5px;
  background-color: #2c2c2c; /* Dark gray background for input */
  color: #ccc; /* Light gray text */
}

#weatherSubmit {
  padding: 10px 20px;
  background-color: #333; /* Dark gray button */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#weatherSubmit:hover {
  background-color: #444; /* Slightly lighter shade of dark gray on hover */
}

.currentWeather {
  background-color: #292929; /* Dark background for current weather section */
  padding: 20px;
  margin-left: 20px; /* Adjusted margin */
  border-radius: 5px;
}

#city-name {
  color: #fff; /* White text */
  margin-bottom: 10px;
}

.forecast-container {
  background-color: #222; /* Darker background for forecast section */
  padding: 20px;
  margin-left: 20px; /* Adjusted margin */
  border-radius: 5px;
  color: #ccc; /* Light gray text */
}

.footer {
  background-color: #333; /* Dark gray background for footer */
  color: #ccc; /* Light gray text */
  text-align: center;
  padding: 20px;
}




